---
layout: default
comments: true
---
<h5><strong>{{ page.title }}</strong></h5>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="major special">
  {{ content }}
</div>


<!-- Four -->
<!-- <section id="resume" class="wrapper style3 special">
    <div class="container 75%">
        <header class="major">
            <h2>Want more?</h2>
            <p>Hit me up at any of the links below. </p>
            <p> <a href="docs/itamar_resume_may2023.pdf" target="_blank"> Here </a> is a copy of my CV. </p>
        </header>
    </div>
</section> -->


<!-- <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'itamar';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
 -->
